@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Raleway:100|Roboto|Open+Sans:400,500);

/*
 * PORTFOLIO THEME - (C)COPYRIGHT PETER RICHARDS 2015
 * Created by Peter Richards - 01/08/15
 * All Rights Reserved
 * ---------------------------
 * Hey! Thanks for taking the time to look at my code, I've left some comments to make it clearer for you.
 */

/*
 * 
 * Main styling // body, viewport.
 * 
 */
body,html{
	width:100%;
	height:100%;
	overflow:auto;
	padding:0;
	margin:0;
}

.content{
	width:80%;
	margin:0 10%;
}

/*
 * 
 * Header Styling // Various divs and the like 
 * 
 */
.header{
	background-color:#c9c9c9;
	width:100%;
	height:30%;
	padding:0;
	text-align:center;
}

.headerH1{
	font-family:'Raleway','Calibri','Arial';
	font-weight:100;
	font-size:70px;
}
