@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Raleway:400,100|Open+Sans:400,500);
/*
 * PORTFOLIO THEME - (C)COPYRIGHT PETER RICHARDS 2015
 * Created by Peter Richards - 01/08/15
 * http://p110.github.io
 * All Rights Reserved
 * ---------------------------
 * Hey! Thanks for taking the time to look at my code, I've left some comments to make it clearer for you.
 */

/*
 * Main styling // body, viewport.
 */
body,html{
	width:100%;
	height:100%;
	overflow:auto;
	padding:0;
	margin:0;
	background-color:#E3E3E3;
	color:#363636;
	background: url('http://p110.github.io/assets/bg.jpg') no-repeat center center;
	font-family:'Open sans','Calibri','Arial';
}

.inline{
	display:inline-block;
}

/*
 * Link Styling // Making all of my hyperlinks look nice
 */
a{
	text-decoration:none;
	color:#30a0da;
}

a:hover{
	transition:color 0.5s;
	text-decoration:none;
	color:#0c74a8;
}

/*
 * Splash page styling // The classes I need to make the splash page tolerable
 */
.containerHome{
	position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	text-align:center;
	width:60%;
	height:60%;
	font-family:'Raleway','Open Sans','Calibri';
	background-color:#fff;
	padding:20px;
}

.logoHome{
	margin:0 auto 20px auto;
	width:80%;;
	height:80%;
}

/*
 * Page Styling // The classes I need for the main pages :)
 */
.header{
	width:100%;
	background-color:#fff;
	padding:10px 0;
	font-family:'Raleway','Arial';
}

.logo{
	margin:0 2%;
	width:100%;
}

.content{
	background-color:#fff;
	margin:5%;
	padding:20px;
	background-color:#f3f3f3;
}

.me{
	border-radius:50%;
	margin:0 auto;
	background: url('http://p110.github.io/assets/cirlce.svg') no-repeat;
	width:250px;
	height:250px
}

.paragraph{
	width:80%;
	margin:0 auto;
	text-align:left;
	font-family:'Raleway','Open Sans','Arial';
	font-weight:400;
	color:#767676;
}

h1{
	font-weight:100;
	color:#363636;
}

h3{
	font-family:'Raleway','Arial';
	font-weight:100;
	color:#363636;
}

/*
 * Portfolio Styling // Just some more stuff I need for the portfolio
 */
.portfolioBox{
	width:40%;
	padding:10px;
	background-color:#fff;
	-webkit-box-shadow: 0px 1px 5px 1px rgba(130,130,130,1);
	-moz-box-shadow: 0px 1px 5px 1px rgba(130,130,130,1);
	box-shadow: 0px 1px 5px 1px rgba(130,130,130,1);
	margin:0 2%;
	text-align:center;
	vertical-align:top;
}

.button{
	padding:10px;
	margin:10px;
	background-color:#0379CF;
	color:#fff;
	text-align:center;
	font-size:20px;
}

/*
 * Blog Styling // Just even more stuff I need for the blog
 */
.blogBox{
	width:90%;
	padding:10px;
	background-color:#fff;
	-webkit-box-shadow: 0px 1px 5px 1px rgba(130,130,130,1);
	-moz-box-shadow: 0px 1px 5px 1px rgba(130,130,130,1);
	box-shadow: 0px 1px 5px 1px rgba(130,130,130,1);
	margin:0 auto;
	text-align:left;
}
